@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<h1>@ViewData["Title"]</h1>


<h2>Value from server is : @TempData["ClassName"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
