<link href="~/css/productcss.css" rel="stylesheet" />


<main class="product-main">
    <section class="product-section">
        <div class="product-details">
            <div class="product-image">
                <img src="~/images/lipsticks-5893480_640.jpg" />
                
            </div>
            <div class="product-info">
                <h2>Product Name</h2>
                <p class="price">$20.99</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae convallis tortor. Nullam quis ultricies risus, et aliquam lacus.</p>
                <button>Add to Cart</button>
            </div>
        </div>
    </section>
</main>